@font-face {
  font-family: "Roboto Regular";
  src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto Bolt";
  src: url(./fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Playfair Display Regular";
  src: url(./fonts/PlayfairDisplay-Regular.ttf);
}

:root {
  --blue-main: #0a224a;
  --blue-light: #f7faff;
  --blue-hover: #061835;
  --dark-gray: #7a7a7a;
  --gray-middle: #b6b6b6;
  --gray-light: #d9d9d9;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: "Roboto Regular", sans-serif;
  font-size: 1.125rem;
  color: var(--blue-main);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--blue-light);
}
.container {
  min-width: 320px;
  padding: 0 1rem;
  margin: 0 auto;
}
.header__container {
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
}
.logo {
}

.icon-logo {
  fill: var(--blue-main);
  transition: fill 300ms ease-in-out;
}
.icon-logo:hover {
  fill: var(--blue-hover);
}
.navigation {
}

.navigation__list {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 100%;
  transition: all 300ms ease-in-out;
}

.navigation__list.showMenu {
  left: 0;
}

.menu-button {
  display: flex;
  background-color: transparent;
  border: none;
  color: var(--blue-main);
  font-family: inherit;
  font-size: inherit;
  display: flex;
  align-items: center;
  transition: all 300ms ease-in;
}
.menu-button:hover {
  stroke: var(--blue-hover);
  color: var(--blue-hover);
}
.icon-menu {
  stroke: var(--blue-main);
}

/* Hero */

.hero {
  position: relative;
  height: 100vh;
}

.hero > .container {
}
.hero__image {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.hero__body {
  position: relative;
  top: 140px;
}
.title {
  font-family: "Playfair Display Regular";
  font-size: 28px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--blue-main);
  &:not(:last-child) {
    margin-bottom: 14px;
  }
}
.text {
  font-size: 16px;
  line-height: 150%;
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}
.button {
  padding: 12px 76.5px;
  background-color: var(--blue-main);
  font-family: inherit;
  font-size: 16px;
  color: var(--white);
  line-height: 150%;
  transition: background-color 300ms ease-in-out;
}

.button:hover {
  background-color: var(--blue-hover);
}

/* About us */
.about {
  margin-top: 64px;
}

.about-head {
  display: flex;
  flex-direction: column;
  gap: 30px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.tag {
  position: relative;
  padding-left: 50px;
}
.tag::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 30px;
  background-color: var(--blue-main);
  top: 9px;
  left: 0;
}
.title {
}
.subtitle {
  font-size: 1.75rem;
  line-height: 150%;
}
.text {
}
.data {
  &:not(:last-child) {
    margin-bottom: 64px;
  }
}

.data > ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 33%;
  margin: 0 auto;
  text-align: center;
}

.data span {
  display: block;
  font-size: 50px;
  line-height: 150%;
  text-transform: uppercase;
}

.data li {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.sofa-img {
  width: 100%;
  margin-top: 64px;
  margin-bottom: 86px;
}

.products-prices {
  border-top: 1px solid var(--blue-hover);
  border-bottom: 1px solid var(--blue-main);
}

.products-prices:not(:last-child) {
  margin-bottom: 64px;
}

.products-prices li:not(:last-child) {
  border-bottom: 1px solid var(--blue-main);
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.position {
  text-transform: uppercase;
  font-size: 28px;
  line-height: 150%;
}
.position-price {
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
}

/* our products */
.products {
}
.title {
}
.subtitle {
}
.products-title {
  font-family: "Roboto Regular";
  font-weight: 400;
  text-align: center;
  margin-top: 42px;
  margin-bottom: 32px;
}
.products-image {
  margin-bottom: 14px;
}
.text p {
  margin-top: 14px;
  margin-bottom: 10px;
}
.products-text {
}
.bestsellers {
}
.bestselles-list {
}
.bestsellers-item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.position-price {
}
/* reviews */

.reviews {
  background-color: var(--blue-light);
}
.container {
}
.title {
}
.subtitle {
}
.client-review {
  background-color: var(--white);
  border-radius: 8px;
  padding: 24px;
}
.client {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 24px;
}

.client > img {
  width: 48px;
  height: 48px;
}

.client-name > p {
  font-weight: 700;
  font-size: 18px;
  line-height: 178%;
  text-transform: uppercase;
}
.comment {
}

/* newsletter */

.newsletter {
  margin-top: 64px;
}
.container {
}
.title {
}
.subtitle {
}
.text {
}
.form {
}
.input {
}
.button {
}
